/* :root {
    --blue: blue;
    --black: black;
    --light-color: #696161;
    --box-shadow: 0 .2rem 1rem rgb(179, 171, 171);
    --outline: 0 .1rem solid rgb(0, 0, 0.1);
    --border: 0 2rem solid rgb(74, 65, 65);
} */

.Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    /* background: rgb(43, 42, 42);
    box-shadow: var(--box-shadow); */
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

/*Behaviour of HTML document*/
html {
    font-size: 100%; 
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

.Header .icons div {
    border: 1px solid;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 0.5rem;
    background: #f2f0f0;
    color: black;
    font-size: 1.5rem;
    margin: 0.5rem;
    text-align: center;
    cursor: grabbing;
}

/* "." is used when we have to set properties for a class*/
.Header .icons div:hover
    {
    background-color: white;
    font-size: 1.7rem;
    color: var(--blue);
    cursor: grabbing;
}

.Header .login-form
{
    position: absolute;
    top: 110%;
    right: -110%;
    background: linear-gradient(90deg,rgba(49, 49, 48),rgba(229, 234, 92));
    transform: none;
    /* background-color: rgb(35, 35, 35); */
    border: 1px solid;
    border-radius: 1rem;
    /* padding: 0.5rem; */
    box-shadow: 0 .1rem 0.5rem rgb(179, 171, 171);
    width: 25rem;
    z-index: 1;
}
.Header .login-form.active
{
    right: 2rem;
    transition: 0.4s linear;
}


.Header .login-form .login-btn
{
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
    color: rgb(255, 251, 251);
}

.Header .login-form .email
{
    font-size: 1.4rem;
    text-align: center;
    cursor: pointer;
    border: 1px solid;
    border-radius: 0.5rem;
    /* background: transparent; */
    margin: 1.3rem;
    background: none;
    padding: 0.5rem 1rem;
}

.Header .login-form .password
{
    font-size: 1.4rem;
    text-align: center;
    cursor: pointer;
    border: 1px solid;
    border-radius: 0.5rem;
    background: #eeeeee92;
    margin: 1.3rem;
    background: none;
    padding: 0.7rem 1rem;
}

.Header .login-form .forget
{
text-align: center;
font-size: 1.2rem;
padding: 0.5rem 0;
}

.Header .login-form .account
{
text-align: center;
font-size: 1.2rem;
}

.Header .login-form .login_here
{
    text-align: center;
    padding: 0.5rem 0;
    border: 1px solid;
    border-radius: 0.5rem;
    font-size: 1.7rem;
    margin: 2rem 4rem;
    cursor: pointer;
}

.Header .login-form .login_here:hover
{
    background-color: rgb(246, 220, 72);
    color: white;
}